/* NOTES */

/*
pink: rgb(239, 91, 161)
green: rgb(17, 170, 88);
purple: rgb(106, 37, 105)
*/


/* TYPOGRAPHY */

body {
	font-family: 'open_sansregular';
}

h1, h2 , h3 ,h4 ,h5 ,h6 {
	font-family: 'open_sansbold';
  color: rgb(17, 170, 88);
    /* color: rgb(181, 185, 53); */
}

strong, th {
	font-family: 'open_sansbold';
}

header {
	padding: 1em;
	margin: 2em 0;
}

h2 {
	margin: 1em 0;
}

/* LAYOUT */

.container header {
	text-transform: uppercase;
  text-align: center;
  border: 3px solid #000;
  border-width: 3px 0;
}

.container header h1 {
	display: inline-block;
  vertical-align: middle;
  line-height: normal;
	margin: 0;
}

h2 {
	color: rgb(106, 37, 105);
}

/* ALBUMS */

.album-overview {
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 3px solid #000;
}

.album-info .album-title {
	color: rgb(17, 170, 88);
    /* color: rgb(181, 185, 53); */
}

.album-info p {
	line-height: 2em;
}

.album-rating img {
	height: 2em;
}

.album-artwork img {
	max-width: 100%;
	border-radius: 50%;
}

.album-bg {
	padding: 1em;
	background-color: #EFEFEF;
}

.album-image-wrapper {
	background-color: #FFF;
	border-radius: 50%;
}

/* BUTTONS */

.button.button-primary,
.button.button-primary:active,
.button.button-primary:hover,
.button.button-primary:focus {
	background-color: rgb(106, 37, 105);
	border-color: rgb(106, 37, 105);
}

.album-track-listing {
    display: none;
}

.album-info strong {
  width: 154px;
  display: block;
  float: left;
}

/* Error message */
.page-error {
	font-family: 'open_sansregular';
	color: rgb(219, 40, 40);
	text-align: center;
}

.star-error {
	font-family: 'open_sansregular';
	color: rgb(219, 40, 40);
}